/* Estilos generales */

body {
    margin: 0;
    padding: 0;
}

#div-superior, #div-inferior {
    width: 100%;
    height: 50%;
    float: left;
}

#div-superior {
    background-color: #2b91eb;
    position: relative;
}

#div-inferior {
    background-color: #ebbe85;
}

button {
    box-sizing: content-box;
    width: 25%;
    height: 70px;
    display: block;
    margin: 15px auto;
    font-size: 2rem;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    border: none;
}

input[type='submit'] {
    background-color: #ffffff; 
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: black;
}

label {
    display: inline-block;
    text-align: left;
    width: 350px;
    background-color: #e3eaed; 
    height: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    line-height: 50px; 
}

input {
    display: inline-block;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    padding: 0;
    border: 0;
    margin-top: 10px;
}



/* Pagina principal */

main {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #ebbe85;

}

/* Estilos div imagen */

#contenedor-imagen {
    /* Hacerlo responsive */
    width: 250px;
    height: 250px;
    margin: 20px auto;
}

#login-page > #div-superior > #contenedor-imagen {
    width: 150px;
    height: 150px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Estilos contenedor  */

#contenedor-boton-registro {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pagina registrar usuario */

#register-page > #div-superior, #login-page > #div-superior {
    height: 25%;
}

#register-page > #div-inferior, #login-page > #div-inferior {
    height: 75%;
}

#register-page > #div-superior, #register-page > #div-inferior, #login-page > #div-superior, #login-page > #div-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1  {
   background-color: white;
    padding: 20px;
}

form  {
    width: 50%;
    height: 90%;
    text-align: center;
}

table {
    width: 70%;
    background-color: #e3eaed; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    line-height: 50px; 
    border-collapse: collapse;
    overflow-y: auto;
}

td button{
    width: 70%;
    font-size: 1rem;
}

#bimagenes {
    width: auto;
    max-height: 100%; /* Evita que la tabla crezca más allá del 100% del alto del div-inferior */
    overflow: auto; /* Agrega una barra de desplazamiento si la tabla es más grande que el contenedor */
    display: flex;
    align-items: center;
    text-align: center;
}



#tmejoras{
    top: 10%;
    margin: auto;
    position: relative;
    width: 70%;
    overflow-y: auto;
}

#tmejoras img {
    width: 150px; 
    height: 150px; 
}



/* Pagina del juego principal */

#game-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#game-page > #div1 {
    height: 40%;
}

#game-page > #div2 {
    height: 60%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
}

.item {
    background-color: #ccc;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


#opadminimagen{
    width: 100px; 
    height: 100px; 
    position:absolute;
    left: 93%;
    top: 5%;

}

#mejorasimagen{
    width: 100px; 
    height: 100px;
    position: absolute;
    top:5%;
    left: 1px;
}

#volvermenu{
    height: 4rem;
    width: 7rem;
    position: relative;
    right:45%;
}

#subir{
    height: 4rem;
    width: 7rem;
    position: relative;
    left:44%;
    font-size: large;
    bottom:11%;
}


#formsubir{
    height: auto;
    width: auto;
}

input[type='file'] {
    background-color: #ffffff; 
    border: none;
    width: 30%;

}



/* Pagina iniciar sesion usuario */

