@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body, html {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 22px;
}


a {
    box-sizing: content-box;
    width: 25%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    font-size: 2rem;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    border: none;
}

button {
    width: 150px; 
    height: 55px; 
    font-size: 22px; 
    margin: 0;
}

#imagen-previsualizacion img {
    width: 100px;
    height: 100px;
}